html, body {
    margin: 0;
    padding: 0;
    /* background-color: grey; */
    /* background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

h1 {
    text-align: center;
    font-size: 48px;
    /* color: white; */
}

.video-feed {
    display: flex;
    justify-content: center;
}

img {
    width: 640px;
    height: 480px;

}